<div id="mySidenav" class="sidenav" [ngClass]="{'sidenav-expanded': navExpanded, 'sidenav-collapsed': !navExpanded}">
  <weaknesses-list></weaknesses-list>
</div>


<div id="main" [ngClass]="{'main-expanded': navExpanded, 'main-collapsed': !navExpanded}">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-brand btn btn-lg btn-transparent" (click)="toggleNav()"
                [disabled]="router.url === '/starter'">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" routerLink="/starter">CWE WebBrowser</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right navbar-form-expand">
          <div class="dropdown" [ngClass]="{'open': (focused || mouseover) && searchTerm}">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm"
                   (focus)="focused=true" (blur)="focused=false">
            <ul class="dropdown-menu" (mouseenter)="mouseover=true" (mouseleave)="mouseover=false"
                [ngClass]="{'alert alert-warning': (weaknesses | searchWeakness:searchTerm).length===0}">
              <li *ngFor="let weakness of (weaknesses | searchWeakness:searchTerm | limit:10);"
                  [@searchResultAnimation]>
                <a [routerLink]="['/weakness',  weakness.id ]">
                  <strong [innerHTML]="weakness.modifiedId"></strong>
                  <span [innerHTML]="weakness.modifiedName"></span>
                </a>
              </li>
              <li *ngIf="(weaknesses | searchWeakness:searchTerm).length===0" [@searchResultAnimation]>No results</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
