.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: all 0.5s;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav-expanded {
  width: 300px;
}

.main-expanded {
  margin-left: 300px;
  /*transform: translateX(300px);*/
  /*width: calc(100% - 300px);*/
}

.sidenav-collapsed {
  width: 0;
}

.main-collapsed {
  margin-left: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.btn-transparent {
  background-color: transparent;
  cursor: default !important;
}

.btn-transparent[disabled]:hover {
  color: #9d9d9d;
}

.form-control {
  width: 100%;
  max-width: 550px;
}

.navbar-form-expand {
  width: calc(100% - 400px);
  text-align: right;
}

.dropdown-menu {
  width: 100%;
  max-width: 550px;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-menu li {
  overflow: hidden;
  width: 100%;
}

.navbar-fixed-top {
  margin-left: inherit;
}

router-outlet:before {
  content: '';
  display: block;
  height: 67px;
}
