<div *ngIf="weaknesses" class="weaknesses-list-container">
  <table class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
      <th (click)="sortById()">#ID<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"
                                        [class.text-primary]="weaknessesService.howSorted === 4"></span><span
        class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
        [class.text-primary]="weaknessesService.howSorted === 5"></span></th>
      <th (click)="sortByName()">Weakness name<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"
                                                    [class.text-primary]="weaknessesService.howSorted === 2"></span><span
        class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
        [class.text-primary]="weaknessesService.howSorted === 3"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let weakness of weaknesses" [routerLink]="['/weakness',  weakness.id ]"
        [ngClass]="{'active text-primary': this.router.url === '/weakness/' + weakness.id}">
      <td [innerHTML]="weakness.id"></td>
      <td [innerHTML]="weakness.name"></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="loader" *ngIf="loading"></div>
