.weaknesses-list-container .table tr.active td {
  background-color: inherit;
}

.weaknesses-list-container tr {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

thead th {
  min-width: 60px;
  font-size: 0.8em;
  text-align: center;
}

tbody tr td:first-of-type {
  text-align: center;
}

table {
  background-color: #ffffff;
}
