<div class="weaknesses-container container" *ngIf="selectedWeakness" [@animated]>
  <div class="row">
    <div class="col-xs-10">
      <h1>
        <span class="label label-primary">CWE-{{selectedWeakness.id}}</span> {{selectedWeakness.name}}
        <small><span class="badge">{{selectedWeakness.weaknessAbstraction}}</span></small>
        <small><span class="badge">{{selectedWeakness.status}}</span></small>
      </h1>
      <div *ngIf="selectedWeakness.description" id="description">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
          </div>
          <div class="panel-body">
            <div *ngIf="selectedWeakness.description.descriptionSummary">
              <div><strong>Description Summary</strong></div>
              <div [innerHTML]="selectedWeakness.description.descriptionSummary"></div>
            </div>
            <div *ngIf="selectedWeakness.description.extendedDescription">
              <div><strong>Extended Description</strong></div>
              <span
                *ngFor="let x of selectedWeakness.description.extendedDescription.textTitlesAndTextsAndCodeExampleLanguages"
                [innerHTML]="x.value">
      </span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.relationships" id="relationships">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Relationships</h3></div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nature</th>
              <th>Target Form</th>
              <th>Target ID</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let x of selectedWeakness.relationships.relationships">
              <td [innerHTML]="x.relationshipNature"></td>
              <td [innerHTML]="x.relationshipTargetForm"></td>
              <td>
                <a [routerLink]="['/weakness',  x.relationshipTargetID]" [innerHTML]="x.relationshipTargetID"></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="selectedWeakness.relationshipNotes" id="relationshipNotes">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Relationship Notes</h3></div>
          <div class="panel-body">
            <div *ngFor="let note of selectedWeakness.relationshipNotes.relationshipNotes">
              <p *ngFor="let x of note.textTitlesAndTextsAndCodeExampleLanguages" [innerHTML]="x.value"></p>
            </div>
          </div>
        </div>
      </div>
      <!--<div *ngIf="selectedWeakness.weaknessOrdinalities" id="weaknessOrdinalities">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Weakness Ordinalities</h3></div>-->
      <!--<div class="panel-body" [innerHTML]="selectedWeakness.weaknessOrdinalities"></div>-->
      <!--</div>-->
      <!--</div>-->
      <div *ngIf="selectedWeakness.applicablePlatforms && selectedWeakness.applicablePlatforms.languages"
           id="applicablePlatforms">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Applicable Platforms</h3></div>
          <div class="panel-body">
            <h6>Languages</h6>
            <div *ngFor="let class of selectedWeakness.applicablePlatforms.languages.languageClasses"
                 [innerHTML]="class.languageClassDescription"></div>
            <div *ngFor="let language of selectedWeakness.applicablePlatforms.languages.languages"
                 [innerHTML]="language.languageName"></div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.maintenanceNotes" id="maintenanceNotes">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Maintenance Notes</h3></div>
          <div class="panel-body">
            <div *ngFor="let note of selectedWeakness.maintenanceNotes.maintenanceNotes">
              <p *ngFor="let x of note.textTitlesAndTextsAndCodeExampleLanguages" [innerHTML]="x.value"></p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.backgroundDetails" id="backgroundDetails">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Background Details</h3></div>
          <div class="panel-body">
            <div *ngFor="let detail of selectedWeakness.backgroundDetails.backgroundDetails"
                 [innerHTML]="detail.textTitlesAndTextsAndCodeExampleLanguages[0].value">
            </div>
          </div>
        </div>
      </div>
      <!--<div *ngIf="selectedWeakness.otherNotes" id="otherNotes">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Other Notes</h3></div>-->
      <!--<div class="panel-body" [innerHTML]="selectedWeakness.otherNotes"></div>-->
      <!--</div>-->
      <!--</div>-->
      <div *ngIf="selectedWeakness.alternateTerms" id="alternateTerms">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Alternate Terms</h3></div>
          <div class="panel-body">
            <div *ngFor="let term of selectedWeakness.alternateTerms.alternateTerms" [innerHTML]="term.term"></div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.terminologyNotes" id="terminologyNotes">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Terminology Notes</h3></div>
          <div class="panel-body">
            <div *ngFor="let note of selectedWeakness.terminologyNotes.terminologyNotes">
              <p *ngFor="let x of note.textTitlesAndTextsAndCodeExampleLanguages" [innerHTML]="x.value"></p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.timeOfIntroduction" id="timeOfIntroduction">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Time Of Introduction</h3></div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Introductory Phase</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let phase of selectedWeakness.timeOfIntroduction.introductoryPhases">
              <td [innerHTML]="normalizeUnderscored(phase)"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="selectedWeakness.modesOfIntroduction" id="modesOfIntroduction">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Modes Of Introduction</h3></div>
          <div class="panel-body">
            <div *ngFor="let mode of selectedWeakness.modesOfIntroduction.modeOfIntroductions">
              <p *ngFor="let x of mode.textTitlesAndTextsAndCodeExampleLanguages" [innerHTML]="x.value"></p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.enablingFactorsForExploitation"
           id="enablingFactorsForExploitation">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Enabling Factors For Exploitation</h3></div>
          <div class="panel-body">
            <div *ngFor="let factor of selectedWeakness.enablingFactorsForExploitation.enablingFactorForExploitations">
              <p *ngFor="let x of factor.textTitlesAndTextsAndCodeExampleLanguages" [innerHTML]="x.value"></p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.likelihoodOfExploit" id="likelihoodOfExploit">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Likelihood Of Exploit</h3></div>
          <div class="panel-body" [innerHTML]="selectedWeakness.likelihoodOfExploit"></div>
        </div>
      </div>
      <!--<div *ngIf="selectedWeakness.commonConsequences" id="commonConsequences">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Common Consequences</h3></div>-->
      <!--<table class="table table-striped">-->
      <!--<thead>-->
      <!--<tr>-->
      <!--<th>Scopes</th>-->
      <!--<th>Technical Impacts</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr *ngFor="let consequence of selectedWeakness.commonConsequences.commonConsequences">-->
      <!--<td [innerHTML]="normalizeUnderscored(consequence.consequenceScopes)"></td>-->
      <!--<td [innerHTML]="consequence.consequenceTechnicalImpacts"></td>-->
      <!--</tr>-->
      <!--</tbody>-->
      <!--</table>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div *ngIf="selectedWeakness.detectionMethods" id="detectionMethods">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Detection Methods</h3></div>-->
      <!--<div class="panel-body" [innerHTML]="selectedWeakness.detectionMethods"></div>-->
      <!--</div>-->
      <!--</div>-->
      <div *ngIf="selectedWeakness.potentialMitigations" id="potentialMitigations">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Potential Mitigations</h3></div>
          <div class="panel-body">
            <div *ngFor="let mitigation of selectedWeakness.potentialMitigations.mitigations">
              <div *ngIf="mitigation.mitigationPhases[0]">
                <h6>Phase: <span [innerHTML]="normalizeUnderscored(mitigation.mitigationPhases[0])"></span></h6>
                <span
                  [innerHTML]="mitigation.mitigationDescription.textTitlesAndTextsAndCodeExampleLanguages[0].value"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.causalNature" id="causalNature">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Causal Nature</h3></div>
          <div class="panel-body" [innerHTML]="selectedWeakness.causalNature"></div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.demonstrativeExamples"
           id="demonstrativeExamples">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demonstrative Examples</h3></div>
          <div class="panel-body">
            <div
              *ngFor="let example of selectedWeakness.demonstrativeExamples.demonstrativeExamples; let i = index; let last = last;">
              <h4 [innerHTML]="'Example #'+(i+1)"></h4>
              <div [innerHTML]="example.introText"></div>
              <pre><code *ngIf="example.exampleBody"
                         [innerHTML]="unpackCode(example.exampleBody.textTitlesAndTextsAndCodeExampleLanguages[0].textTitlesAndTextsAndCodeExampleLanguages)">
              </code></pre>
              {{last?updateHighlighting():''}}
              <div *ngIf="example.exampleBody && example.exampleBody.textTitlesAndTextsAndCodeExampleLanguages[1]"
                   [innerHTML]="example.exampleBody.textTitlesAndTextsAndCodeExampleLanguages[1].value"></div>
              <div *ngIf="example.demonstrativeExampleReferences">
                <div *ngFor="let reference of example.demonstrativeExampleReferences.references">
                  <a [href]="reference.referenceLink"
                     [innerHTML]="reference.referenceTitle"></a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--<div *ngIf="selectedWeakness.observedExamples" id="observedExamples">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Observed Examples</h3></div>-->
      <!--<div class="panel-body"-->
      <!--[innerHTML]="selectedWeakness.observedExamples"></div>-->
      <!--</div>-->
      <!--</div>-->
      <div *ngIf="selectedWeakness.theoreticalNotes" id="theoreticalNotes">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Theoretical Notes</h3></div>
          <div class="panel-body">
            <div *ngFor="let note of selectedWeakness.theoreticalNotes.theoreticalNotes">
              <p *ngFor="let x of note.textTitlesAndTextsAndCodeExampleLanguages" [innerHTML]="x.value"></p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.functionalAreas" id="functionalAreas">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Functional Areas</h3></div>
          <div class="panel-body">
            <div *ngFor="let area of selectedWeakness.functionalAreas.functionalAreas" [innerHTML]="area"></div>
          </div>
        </div>
      </div>
      <!--<div *ngIf="selectedWeakness.relevantProperties"-->
      <!--id="relevantProperties">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Relevant Properties</h3></div>-->
      <!--<div class="panel-body"-->
      <!--[innerHTML]="selectedWeakness.relevantProperties"></div>-->
      <!--</div>-->
      <!--</div>-->
      <div *ngIf="selectedWeakness.affectedResources"
           id="affectedResources">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Affected Resources</h3></div>
          <div class="panel-body">
            <div *ngFor="let resource of selectedWeakness.affectedResources.affectedResources"
                 [innerHTML]="resource"></div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.researchGaps" id="researchGaps">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Research Gaps</h3></div>
          <div class="panel-body">
            <div *ngFor="let gap of selectedWeakness.researchGaps.researchGaps">
              <p *ngFor="let x of gap.textTitlesAndTextsAndCodeExampleLanguages" [innerHTML]="x.value"></p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedWeakness.references" id="references">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">References</h3></div>
          <div class="panel-body">
            <div *ngFor="let reference of selectedWeakness.references.references">
              <a [href]="reference.referenceLink" [innerHTML]="reference.referenceTitle || reference.referenceLink"></a>
            </div>
          </div>
        </div>
      </div>
      <!--<div *ngIf="selectedWeakness.whiteBoxDefinitions"-->
      <!--id="whiteBoxDefinitions">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">White Box Definitions</h3></div>-->
      <!--<div class="panel-body"-->
      <!--[innerHTML]="selectedWeakness.whiteBoxDefinitions"></div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div *ngIf="selectedWeakness.blackBoxDefinitions"-->
      <!--id="blackBoxDefinitions">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Black Box Definitions</h3>-->
      <!--</div>-->
      <!--<div class="panel-body"-->
      <!--[innerHTML]="selectedWeakness.blackBoxDefinitions"></div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div *ngIf="selectedWeakness.relatedAttackPatterns"-->
      <!--id="relatedAttackPatterns">-->
      <!--<div class="panel panel-primary">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title">Related Attack Patterns</h3>-->
      <!--</div>-->
      <!--<div class="panel-body"-->
      <!--[innerHTML]="selectedWeakness.relatedAttackPatterns"></div>-->
      <!--</div>-->
      <!--</div>-->
      <!---->
      <!---->
      <!--<div *ngIf="selectedWeakness.contentHistory">-->
      <!--<div>Content History</div>-->
      <!--<div [innerHTML]="selectedWeakness.contentHistory"></div>-->
      <!--</div>-->
      <!---->
      <!---->
      <!--<div *ngIf="selectedWeakness.taxonomyMappings">-->
      <!--<div>Taxonomy Mappings</div>-->
      <!--<table>-->
      <!--<thead>-->
      <!--<tr>-->
      <!--<th>Mapped Taxonomy Name</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr *ngFor="let x of selectedWeakness.taxonomyMappings.taxonomyMappings">-->
      <!--<td [innerHTML]="x.mappedTaxonomyName"></td>-->
      <!--</tr>-->
      <!--</tbody>-->
      <!--</table>-->
      <!--</div>-->
    </div>
    <div class="col-xs-2">
      <nav class="side-nav">
        <ul class="nav">
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#description"
                 *ngIf="selectedWeakness.description">Description</a>
          </li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#relationships"
                 *ngIf="selectedWeakness.relationships">Relationships</a>
          </li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#relationshipNotes"
                 *ngIf="selectedWeakness.relationshipNotes">Relationship
            Notes</a></li>
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#weaknessOrdinalities"-->
          <!--*ngIf="selectedWeakness.weaknessOrdinalities">Weakness-->
          <!--Ordinalities</a></li>-->
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#applicablePlatforms"
                 *ngIf="selectedWeakness.applicablePlatforms && selectedWeakness.applicablePlatforms.languages">Applicable
            Platforms</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#maintenanceNotes"
                 *ngIf="selectedWeakness.maintenanceNotes">Maintenance
            Notes</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#backgroundDetails"
                 *ngIf="selectedWeakness.backgroundDetails">Background
            Details</a></li>
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#otherNotes"-->
          <!--*ngIf="selectedWeakness.otherNotes">Other-->
          <!--Notes</a></li>-->
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#alternateTerms"
                 *ngIf="selectedWeakness.alternateTerms">Alternate
            Terms</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#terminologyNotes"
                 *ngIf="selectedWeakness.terminologyNotes">Terminology
            Notes</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#timeOfIntroduction"
                 *ngIf="selectedWeakness.timeOfIntroduction">Time
            Of Introduction</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#modesOfIntroduction"
                 *ngIf="selectedWeakness.modesOfIntroduction">Modes
            Of Introduction</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#enablingFactorsForExploitation"
                 *ngIf="selectedWeakness.enablingFactorsForExploitation">Enabling
            Factors For Exploitation</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#likelihoodOfExploit"
                 *ngIf="selectedWeakness.likelihoodOfExploit">Likelihood
            Of Exploit</a></li>
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#commonConsequences"-->
          <!--*ngIf="selectedWeakness.commonConsequences">Common-->
          <!--Consequences</a></li>-->
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#detectionMethods"-->
          <!--*ngIf="selectedWeakness.detectionMethods">Detection-->
          <!--Methods</a></li>-->
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#potentialMitigations"
                 *ngIf="selectedWeakness.potentialMitigations">Potential
            Mitigations</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#causalNature"
                 *ngIf="selectedWeakness.causalNature">Causal
            Nature</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#demonstrativeExamples"
                 *ngIf="selectedWeakness.demonstrativeExamples">Demonstrative
            Examples</a></li>
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#observedExamples"-->
          <!--*ngIf="selectedWeakness.observedExamples">Observed-->
          <!--Examples</a></li>-->
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#theoreticalNotes"
                 *ngIf="selectedWeakness.theoreticalNotes">Theoretical
            Notes</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#functionalAreas"
                 *ngIf="selectedWeakness.functionalAreas">Functional
            Areas</a></li>
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#relevantProperties"-->
          <!--*ngIf="selectedWeakness.relevantProperties">Relevant-->
          <!--Properties</a></li>-->
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#affectedResources"
                 *ngIf="selectedWeakness.affectedResources">Affected
            Resources</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#researchGaps"
                 *ngIf="selectedWeakness.researchGaps">Research
            Gaps</a></li>
          <li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"
                 href="#references"
                 *ngIf="selectedWeakness.references">References</a>
          </li>
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#whiteBoxDefinitions"-->
          <!--*ngIf="selectedWeakness.whiteBoxDefinitions">White-->
          <!--Box Definitions</a></li>-->
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#blackBoxDefinitions"-->
          <!--*ngIf="selectedWeakness.blackBoxDefinitions">Black-->
          <!--Box Definitions</a></li>-->
          <!--<li><a pageScroll [pageScrollOffset]="67" [pageScrollDuration]="0"-->
          <!--href="#relatedAttackPatterns"-->
          <!--*ngIf="selectedWeakness.relatedAttackPatterns">Related-->
          <!--Attack Patterns</a></li>-->
        </ul>
      </nav>
    </div>
  </div>
</div>
