.weaknesses-container h1 {
  margin-bottom: 20px;
  line-height: normal;
}

.weaknesses-container > div > div > div:last-of-type {
  min-height: calc(95vh - 67px);
}

.weaknesses-container > div > div > div:last-of-type > div {
  margin-bottom: 5vh;
}

.side-nav .nav > li > a {
  display: block;
  padding: 4px 18px;
  font-size: 13px;
  font-weight: 600;
  color: #767676;
  transition: 0.5s;
  border-left: 2px solid transparent;
}

.side-nav .nav > li > a:hover,
.side-nav .nav > li > a:focus {
  padding-left: 20px;
  color: darkblue;
  text-decoration: none;
  background-color: transparent;
}

.side-nav .nav > .active > a,
.side-nav .nav > .active:hover > a,
.side-nav .nav > .active:focus > a {
  padding-left: 20px;
  color: darkblue;
  background-color: transparent;
  border-left: 2px solid darkblue;
}

.side-nav {
  position: fixed;
  top: 67px;
  margin: 20px auto 0;
}

code {
  white-space: normal;
}
