html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('./seigaiha.png');
  min-height: 100%;
  margin: 0;
}

.centered {
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.fixed-height--150px {
  height: 150px;
}

.highlight-found {
  background-color: lightgoldenrodyellow;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
